/* ### Primary */
:root {
    --Blue: hsl(246, 80%, 60%);
    --Light-red-w: hsl(15, 100%, 70%);
    --Soft-blue: hsl(195, 74%, 62%);
    --Light-red: hsl(348, 100%, 68%);
    --Lime-green: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --Soft-orange: hsl(43, 84%, 65%);

    /* ### Neutral */

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}

body {
    background-color: var(--Very-dark-blue);

}

.contenedor {
    width: 600px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 150px));
    grid-template-areas: "usuario card1 card2 card3"
        "usuario card4 card5 card6";
    gap: 10px;
    margin: auto;
}


.usuario {
    background-color: var(--Blue);
    border-radius: 10px 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    /* width: 130px; */
    position: relative;
    padding: 10px;
    color: white;
}

.perfil__nombre p{
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: .75rem;
    color: var(--Pale-Blue);
}

.perfil__nombre>h2{
    margin-top: 5px;
    font-weight: 200;
}

.perfil__img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border-style: solid;
}

.registro {
    background-color: var(--Dark-blue);
    color: var(--Pale-Blue);
    position: absolute;
    width: 87%;
    bottom: 0;
    padding: 10px;
    border-radius: 10px 10px;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: column;

}

.reg{
    margin: auto 5px;
    text-decoration: none;
    color:var(--Pale-Blue);
}

.reg:hover{
    color: white;
    cursor: pointer;
}

.reg:focus{
    color: white;
    font-weight: 600;
}

.cardC {
    background-color: red;
    position: relative;
    border-radius: 10px 10px;
    position: relative;
    height: 150px;
}

.cardCSub {
    height: 100px;
    background-color: var(--Dark-blue);
    border-radius: 10px 10px 0 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    bottom: 0;
    padding: 10px;
}

.usuario {
    grid-area: usuario;
}

.card1 {
    grid-area: card1;
    background-image: url("../images/icon-work.svg");
    background-color: var(--Light-red-w);
    background-size: 40px;
    background-repeat: repeat-y;
    background-position: 90px 2px;
}

.card2 {
    grid-area: card2;
    background-image: url("../images/icon-play.svg");
    background-color: var(--Soft-blue);
    background-size: 40px;
    background-repeat: repeat-y;
    background-position: 90px 2px;
}

.card3 {
    grid-area: card3;
    background-image: url("../images/icon-study.svg");
    background-color: var(--Light-red);
    background-size: 40px;
    background-repeat: repeat-y;
    background-position: 90px 2px;
}

.card4 {
    grid-area: card4;
    background-image: url("../images/icon-exercise.svg");
    background-color: var(--Lime-green);
    background-size: 40px;
    background-repeat: repeat-y;
    background-position: 90px 2px;
}

.card5 {
    grid-area: card5;
    background-image: url("../images/icon-social.svg");
    background-color: var(--Violet);
    background-size: 40px;
    background-repeat: repeat-y;
    background-position: 90px 2px;
}

.card6 {
    grid-area: card6;
    background-image: url("../images/icon-self-care.svg");
    background-color: var(--Soft-orange);
    background-size: 40px;
    background-repeat: repeat-y;
    background-position: 90px 2px;
}

.cardCSub {
    color: white;
}

.lbTitlo {
    font-size: 18px;
}

.lbTiempo {
    height: auto;
    font-size: 2.5rem;
    margin-top: 20px;
    font-weight: 100;
}

.last {
    color: var(--Pale-Blue);
    height: 20px;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: .75rem;
}

@media screen and (max-width: 560px) {
    .contenedor{
        display: flex;
        flex-direction: column;
        width: 80%;
    }


    .perfil{
        display: flex;
        justify-content: space-around;
        height: 100px;
    }

    .registro{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 94%;
        height: auto;
    }

    .perfil__nombre >p{
        margin-top: 5px;
    }

    .cardCSub{
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
        padding: 20px;
        height: 80px;
    }


    .lbTiempo{
        position: absolute;;
        left: 10px;
        
    }

    .last{
        margin: auto 30px auto auto;
       
    }
   
}